.cursor/*
sync-service/.env
sync-service/logs/*
sync-service/.env
sync-service/.venv/*
sync-service/.env
sync-service/cache/*
sync-service/__pycache__/*
sync-service/config.toml
sync-service-rs/.env
sync-service-rs/logs/*
sync-service-rs/cache/*
sync-service-rs/target
sync-service-rs/target/*
.venv/*
.env
config.toml
cache/*
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
dist/*
